<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Cat's Eye's", root_path, class: "navbar-brand fw-bold" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Boutique", products_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Panier", cart_path, class: "nav-link" %>
          </li>

          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Ajouter un produit", new_product_path, class: "nav-link text-warning fw-bold" %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to "Tableau de Bord", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= form_with url: destroy_user_session_path, method: :delete, class: "d-inline" do %>
              <%= submit_tag "Se déconnecter", class: "btn btn-danger" %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
