<div class="form-container">
  <h1 class="form-title">Se connecter</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "Entrez votre email", required: true %>
    </div>

    <div class="input-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Entrez votre mot de passe", required: true %>
    </div>

    <div class="input-group">
      <%= f.submit "Se connecter", class: "btn-submit" %>
    </div>
  <% end %>

  <a href="<%= new_user_registration_path %>" class="back-link">Créer un compte</a>
</div>
