<div class="hero-banner">
  <%= image_tag "banner2.jpg", alt: "Bandeau promotionnel", class: "banner-image" %>
  <div class="banner-overlay">
    <h1>Bienvenue sur Cat’s Eye</h1>
    <p>Découvrez nos magnifiques produits dérivés personnalisés avec des chatons 🐱</p>
  </div>
</div>

<div class="products-container">
  <% @derived_products.each do |product| %>
    <div class="product-card">
      <!-- Affichage de l'image du produit dérivé -->
      <% if product.images.attached? %>
        <%= image_tag product.images.first, alt: "#{product.name} - Image" %>
      <% end %>


      <div class="product-info">
        <p class="title_product"><%= product.name %></p>
        <p class="price">Prix : <%= number_to_currency(product.price, unit: "€") %></p>

        <!-- Boutons d'action -->
        <%= link_to product_path(product), class: "btn-show" do %>
        <span></span>
          <p data-title="Voir le produit" data-text="Découvrir"></p>
        <% end %>


      </div>
    </div>
  <% end %>
</div>
