<div class="form-container">
  <h1 class="form-title">Ajouter un Nouveau Produit</h1>

  <%= form_with model: @product, url: products_path, local: true do |f| %>
    <div class="input-group">
      <%= f.label :name, "Nom du produit" %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="input-group">
      <%= f.label :price, "Prix (€)" %>
      <%= f.number_field :price, step: 0.01, required: true %>
    </div>

    <div class="input-group">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, required: true %>
    </div>

    <div class="input-group">
      <%= f.label :image, "Image du produit" %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="input-group">
      <%= f.submit "Créer le produit", class: "btn-submit" %>
    </div>
  <% end %>

  <a href="<%= products_path %>" class="back-link">Retour à la liste des produits</a>
</div>
