<h1><%= @product.name %></h1>

<% if @product.image.attached? %>
  <%= image_tag @product.image if @product.image.attached? %>
<% else %>
  <p>Aucune image disponible</p>
<% end %>

<p><strong>Prix :</strong> <%= number_to_currency(@product.price, unit: "€") %></p>

<p><%= @product.description %></p>

<%= button_to "Ajouter au panier", add_item_cart_path(@product), method: :post, class: "btn btn-primary" %>

<% if current_user&.admin? %>
  <%= link_to "Modifier ce produit", edit_product_path(@product), class: "btn btn-warning" %>
<% end %>
